<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http pattern="/js/**" security="none" />
	<http pattern="/css/**" security="none" />
	<http pattern="/less/**" security="none" />
	<http pattern="/fonts/**" security="none" />
	<http pattern="/font-awesome/**" security="none" />
	<http pattern="/image/**" security="none" />

	<http entry-point-ref="loginUrlAuthenticationEntryPoint"
		auto-config="false">

		<custom-filter ref="customUsernamePasswordAuthenticationFilter"
			position="FORM_LOGIN_FILTER" />

		<intercept-url pattern="/index.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/login.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/error.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/accesos.htm*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_USER" />

		<logout logout-success-url="/login.jsp" /> <!-- logout-url -->
		<access-denied-handler error-page="/error.jsp" />
	</http>

	<bean:bean id="customUsernamePasswordAuthenticationFilter"
		class="pe.gob.susalud.concon.controladores.MiUsernamePasswordAuthenticationFilter">
		<bean:property name="authenticationManager" ref="authenticationManager" />
		<bean:property name="authenticationFailureHandler" ref="failureHandler" />
		<bean:property name="authenticationSuccessHandler" ref="successHandler" />
		<bean:property name="filterProcessesUrl" value="/j_spring_security_check" />
	</bean:bean>

	<bean:bean id="successHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<bean:property name="defaultTargetUrl"
			value="/acuerdos.htm?action=listarUsuarios" />
	</bean:bean>

	<bean:bean id="failureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<bean:property name="defaultFailureUrl" value="/error.jsp" />
	</bean:bean>

	<bean:bean id="loginUrlAuthenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<bean:constructor-arg>
			<bean:value>/login.jsp</bean:value>
		</bean:constructor-arg>
	</bean:bean>

	<authentication-manager alias="authenticationManager">
		<!-- In-Memory Authentication provider -->
		<authentication-provider>
			<password-encoder hash="plaintext" />
			<user-service properties="classpath:security.users.properties" />
		</authentication-provider>
	</authentication-manager>

</bean:beans>